* {
    color: #0A3871;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    flex: 1;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header div {
    display: flex;
    align-items: center;
}

.header  img {
    height: 50px;
    margin-right: 16px;
    margin-bottom: 8px;
}

.header  h1 {
    font-size: 24px;
}

.conteudo {
    display: flex;
    padding: 20px;
    flex: 1;
}

.area-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 70%;
}

textarea {
    margin-top: 24px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    resize: none;
    outline: none;
    margin-bottom: 10px;
}

.observacao {
    display: flex;
    margin-bottom: 20px;
    color: #999;
    font-size: 12px;
    justify-content: start;
    align-items: center;
}

.observacao img {
    margin-right: 8px;
}

.botoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    
}

.btn-cript {
    background-color: #0A3871;
    color: #fff;
    transition: transform 0.2s ease-in-out;
}

.btn-cript:hover {
    background-color: #0f50a0;
    transform: scale(1.05);
}

.btn-descript, .btn-copiar {
    background-color: transparent;
    border: 1px solid #0A3871;
    transition: transform 0.2s ease-in-out;
}

.btn-descript:hover {
    background-color: #e3e6eb;
    transform: scale(1.05);
}

.btn-copiar:hover {
    background-color: #eeeff0;
    transform: scale(1.05);
}

.area-resultado {
    width: 30%;
    padding: 20px;
    border-left: 1px solid #e0e7f5;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
}

.area-resultado img {
    width: 100%;
    margin-bottom: 20px;
}

.area-resultado h3 {
    font-size: 18px;
    color: #3b3b3b;
    margin-bottom: 10px;
    text-align: center;
}

.area-resultado p {
    color: #999;
    text-align: center;
}

.inicial{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado{
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #495057;
}


footer {
    background-color: #0A3871;
    color: #e0e7f5;
    text-align: center;
    padding: 10px 0;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #e0e7f5;
    margin-right: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .area-texto{
        width: 100%;
    }

    textarea{
        height: 150px;
    }

    .area-resultado{
        width: 100%;
    }

    span{
        margin-bottom: 16px;
        font-size: 14px;
    }

    .inicial img{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header h1{
        font-size: 18px;
    }
    .area-texto{
        width: 100%;
    }
    textarea{
        height: 150px;
    }
    .botoes{
        display: block;
    }

    button{
        border-radius: 16px;
    }

    .btn-descript{
        margin-top: 16px;
    }

    .area-resultado{
        width: 100%;
    }
    span{
        margin-bottom: 16px;
        font-size: 14px;
    }
    .inicial img{
        display: none;
    }
}